In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from pandas_datareader import data as wb
import datetime
import plotly
import plotly.plotly as py
import plotly.graph_objs as go

In [2]:
stocks = ['VISA', 'MasterCard', 'PayPal']
names = ['Basic EPS (TTM)','Sales per Share (TTM)','Book Value per Share (TTM)','Price to Earnings Ratio (TTM)','Price to Sales Ratio (TTM)','Price to Book Value (TTM)','EV/EBITDA (TTM)','EV/Sales (TTM)','Current Ratio (TTM)','Liabilities to Equity Ratio (TTM)','Debt to Assets Ratio (TTM)']
df = pd.DataFrame(names)
df.set_index(0, inplace=True)
df.index.names = ['Metric']

In [3]:
vs_GEN = pd.read_excel("/Users/carlomasera/Documents/PERSONAL FINANCE/Valuations/Credit Card/VISA/VS General & Ratios.xlsx")
vs_GEN = vs_GEN.iloc[+2:,1:]
vs_GEN.columns = vs_GEN.iloc[0]
vs_GEN.set_index("Common name of company", inplace = True)
vs_GEN = vs_GEN.T

In [4]:
df_vs = pd.DataFrame([vs_GEN['Basic EPS (TTM)'], vs_GEN['Sales per Share (TTM)'], vs_GEN['Book Value per Share (TTM)'],vs_GEN['Price to Earnings Ratio (TTM)'], vs_GEN['Price to Sales Ratio (TTM)'],vs_GEN['Price to Book Value (TTM)'], vs_GEN['EV/EBITDA (TTM)'], vs_GEN['EV/Sales (TTM)'], vs_GEN['Current Ratio (TTM)'],vs_GEN['Liabilities to Equity Ratio (TTM)'], vs_GEN['Debt to Assets Ratio (TTM)']])
df_vs = round(df_vs,2)

In [5]:
df_vs

2                                  VISA INC.
Basic EPS (TTM)                         5.67
Sales per Share (TTM)                  10.78
Book Value per Share (TTM)             13.74
Price to Earnings Ratio (TTM)          28.52
Price to Sales Ratio (TTM)             15.00
Price to Book Value (TTM)               9.96
EV/EBITDA (TTM)                        20.28
EV/Sales (TTM)                         14.11
Current Ratio (TTM)                     1.27
Liabilities to Equity Ratio (TTM)       1.11
Debt to Assets Ratio (TTM)              0.22

In [6]:
mc_GEN = pd.read_excel("/Users/carlomasera/Documents/PERSONAL FINANCE/Valuations/Credit Card/MasterCard/MC General & Ratios.xlsx")
mc_GEN = mc_GEN.iloc[+2:,1:]
mc_GEN.columns = mc_GEN.iloc[0]
mc_GEN.set_index("Common name of company", inplace = True)
mc_GEN = mc_GEN.T

In [7]:
df_mc = pd.DataFrame([mc_GEN['Basic EPS (TTM)'], mc_GEN['Sales per Share (TTM)'], mc_GEN['Book Value per Share (TTM)'],mc_GEN['Price to Earnings Ratio (TTM)'], mc_GEN['Price to Sales Ratio (TTM)'],mc_GEN['Price to Book Value (TTM)'], mc_GEN['EV/EBITDA (TTM)'], mc_GEN['EV/Sales (TTM)'], mc_GEN['Current Ratio (TTM)'],mc_GEN['Liabilities to Equity Ratio (TTM)'], mc_GEN['Debt to Assets Ratio (TTM)']])
df_mc = round(df_mc,2)

In [8]:
df_mc

2                                  Mastercard Inc
Basic EPS (TTM)                              7.98
Sales per Share (TTM)                       16.60
Book Value per Share (TTM)                   5.79
Price to Earnings Ratio (TTM)               26.49
Price to Sales Ratio (TTM)                  12.74
Price to Book Value (TTM)                   35.89
EV/EBITDA (TTM)                             21.57
EV/Sales (TTM)                              13.01
Current Ratio (TTM)                          1.42
Liabilities to Equity Ratio (TTM)            3.88
Debt to Assets Ratio (TTM)                   0.29

In [9]:
pypl_GEN = pd.read_excel("/Users/carlomasera/Documents/PERSONAL FINANCE/Valuations/Credit Card/PayPal/PY General & Ratios.xlsx")
pypl_GEN = pypl_GEN.iloc[+2:,1:]
pypl_GEN.columns = pypl_GEN.iloc[0]
pypl_GEN.set_index("Common name of company", inplace = True)
pypl_GEN = pypl_GEN.T

df_pypl = pd.DataFrame([pypl_GEN['Basic EPS (TTM)'], pypl_GEN['Sales per Share (TTM)'], pypl_GEN['Book Value per Share (TTM)'],pypl_GEN['Price to Earnings Ratio (TTM)'], pypl_GEN['Price to Sales Ratio (TTM)'],pypl_GEN['Price to Book Value (TTM)'], pypl_GEN['EV/EBITDA (TTM)'], pypl_GEN['EV/Sales (TTM)'], pypl_GEN['Current Ratio (TTM)'],pypl_GEN['Liabilities to Equity Ratio (TTM)'], pypl_GEN['Debt to Assets Ratio (TTM)']])

In [10]:
df['VISA'] = df_vs

In [11]:
df['MasterCard'] = df_mc

In [12]:
df['PayPal'] = df_pypl

In [13]:
df

                                    VISA  MasterCard   PayPal
Metric
Basic EPS (TTM)                     5.67        7.98   2.0900
Sales per Share (TTM)              10.78       16.60  15.1400
Book Value per Share (TTM)         13.74        5.79  14.3800
Price to Earnings Ratio (TTM)      28.52       26.49  45.6900
Price to Sales Ratio (TTM)         15.00       12.74   6.3200
Price to Book Value (TTM)           9.96       35.89   6.6400
EV/EBITDA (TTM)                    20.28       21.57  28.7700
EV/Sales (TTM)                     14.11       13.01   5.9900
Current Ratio (TTM)                 1.27        1.42   1.4300
Liabilities to Equity Ratio (TTM)   1.11        3.88   2.0323
Debt to Assets Ratio (TTM)          0.22        0.29   0.0967

In [14]:
# EPS
data = []
count = -1
for n in stocks:
    count = count + 1
    ratio_bar = go.Bar(
        x=[n],
        y=df.iloc[:1][stocks[count]],
        name=stocks[count]
    )    
    data.append(ratio_bar)
    
layout = go.Layout(
    barmode='group',
    title="<i>Basic Earning Per Share </i> <br><b> Ratio Analysis<b>",
    yaxis=dict(
        title='EPS',
    ),
    xaxis=dict(
        title='Company',
    ),
)


fig_bs = go.Figure(data=data, layout=layout)
py.iplot(fig_bs)

/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/display.py:694: UserWarning:

Consider using IPython.display.IFrame instead

In [15]:
# PE
data = []
count = -1
for n in stocks:
    count = count + 1
    ratio_bar = go.Bar(
        x=[n],
        y=df.iloc[3:4][stocks[count]],
        name=stocks[count]
    )    
    data.append(ratio_bar)
    
layout = go.Layout(
    barmode='group',
    title="<i>Price to Earnings Ratio</i> <br><b> Ratio Analysis<b>",
    yaxis=dict(
        title='PE',
    ),
    xaxis=dict(
        title='Company',
    ),
)


fig_bs = go.Figure(data=data, layout=layout)
py.iplot(fig_bs)

In [16]:
# EV/EBITDA
data = []
count = -1
for n in stocks:
    count = count + 1
    ratio_bar = go.Bar(
        x=[n],
        y=df.iloc[6:7][stocks[count]],
        name=stocks[count]
    )    
    data.append(ratio_bar)
    
layout = go.Layout(
    barmode='group',
    title="<i>Enterprise Value / EBITDA</i> <br><b> Ratio Analysis<b>",
    yaxis=dict(
        title='EV/EBITDA',
    ),
    xaxis=dict(
        title='Company',
    ),
)


fig_bs = go.Figure(data=data, layout=layout)
py.iplot(fig_bs)

In [17]:
# PRICE/BOOK VALUE
data = []
count = -1
for n in stocks:
    count = count + 1
    ratio_bar = go.Bar(
        x=[n],
        y=df.iloc[5:6][stocks[count]],
        name=stocks[count]
    )    
    data.append(ratio_bar)
    
layout = go.Layout(
    barmode='group',
    title="<i>Price / Book Value</i> <br><b> Ratio Analysis<b>",
    yaxis=dict(
        title='PBV',
    ),
    xaxis=dict(
        title='Company',
    ),
)


fig_bs = go.Figure(data=data, layout=layout)
py.iplot(fig_bs)