In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from pandas_datareader import data as wb
from datetime import date, timedelta
import datetime
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
plotly.tools.set_credentials_file(username='Carlmasera', api_key='uYbtzQUuMaVtMKNj1xob')

In [2]:
# Average Shares Outstanding
mc_nosh = 1017
vs_nosh = 2181.5
pypl_nosh = 1174
ax_nosh = 828

In [3]:
# Get StOck Data, Since Dec 2010
tickers = ['MA','V', 'PYPL', 'AXP']

current_date = date.today()
new_date = current_date - timedelta(days=3425)
mydata = pd.DataFrame()
recent_date = current_date - timedelta(days=1)

for t in tickers:
    mydata[t] = wb.DataReader(t, data_source='yahoo', start=new_date)['Adj Close']

# Parse data as datetime

mydata_index = []
for x in mydata.index:
    y = x.strftime("%Y-%m-%d")
    mydata_index.append(y)

In [4]:
# Organize stock data in DataFrame
df = pd.DataFrame(mydata_index)
df['Visa Stock Price'] = mydata['V'].values
df['Mastercard Stock Price'] = mydata['MA'].values
df['PayPal Stock Price'] = mydata['PYPL'].values
df['American Express Stock Price'] = mydata['AXP'].values
df.set_index(0, inplace=True)
df.index.names = ['Date']
df.fillna(1, inplace=True)

In [5]:
dates = ['2014-12-19', '2015-12-21', '2016-12-19', '2017-12-19', '2018-12-19', '2019-12-19']

In [6]:
# Price-date picking
c1 = []
count = 0
for d in dates:
    fy = df.T[dates[count]]['Visa Stock Price']
    count = count + 1
    c1.append(fy)
c2 = []
count = 0
for d in dates:
    fy = df.T[dates[count]]['Mastercard Stock Price']
    count = count + 1
    c2.append(fy)
c3 = []
count = 0
for d in dates:
    fy = df.T[dates[count]]['PayPal Stock Price']
    count = count + 1
    c3.append(fy)
    
c4 = []
count = 0
for d in dates:
    fy = df.T[dates[count]]['American Express Stock Price']
    count = count + 1
    c4.append(fy)

In [7]:
# Data-DataFrame Construction
ratio_data = pd.DataFrame(dates)
ratio_data.set_index(0, inplace=True)
ratio_data.index.names = ['Date']
# Stock
ratio_data['Visa Stock Price'] = c1
ratio_data['Mastercard Stock Price'] = c2
ratio_data['PayPal Stock Price'] = c3
ratio_data['American Express Stock Price'] = c4
# Market Capitalization
ratio_data['Visa Market Cap.'] = ratio_data['Visa Stock Price'] * vs_nosh
ratio_data['Mastercard Market Cap.'] = ratio_data['Mastercard Stock Price'] * mc_nosh
ratio_data['PayPal Market Cap.'] = ratio_data['PayPal Stock Price'] * pypl_nosh
ratio_data['American Express Market Cap.'] = ratio_data['American Express Stock Price'] * ax_nosh

In [8]:
vs_mkt_rec = df.T[str(recent_date)]['Visa Stock Price'] * vs_nosh
mc_mkt_rec = df.T[str(recent_date)]['Mastercard Stock Price'] * mc_nosh
pypl_mkt_rec = df.T[str(recent_date)]['PayPal Stock Price'] * pypl_nosh
ax_mkt_rec = df.T[str(recent_date)]['American Express Stock Price'] * ax_nosh

In [9]:
df.T[str(recent_date)]['Visa Stock Price']

174.94000244140625

In [10]:
ratio_data = ratio_data.T
ratio_data[str(recent_date)] = [df.T[str(recent_date)]['Visa Stock Price'],df.T[str(recent_date)]['Mastercard Stock Price'], df.T[str(recent_date)]['PayPal Stock Price'], df.T[str(recent_date)]['American Express Stock Price'],vs_mkt_rec, mc_mkt_rec, pypl_mkt_rec, ax_mkt_rec]
ratio_data = ratio_data.T
ratio_data = ratio_data.round(2)

In [11]:
ratio_data

,Visa Stock Price,Mastercard Stock Price,PayPal Stock Price,American Express Stock Price,Visa Market Cap.,Mastercard Market Cap.,PayPal Market Cap.,American Express Market Cap.
Date,,,,,,,,
2014-12-19,62.62,83.35,1.00,85.16,136615.68,84762.09,1174.00,70511.12
2015-12-21,74.80,94.24,36.08,63.57,163180.62,95840.11,42357.92,52636.32
2016-12-19,76.44,101.36,39.44,70.63,166744.81,103086.53,46302.56,58483.31
2017-12-19,110.53,149.60,74.50,95.45,241115.62,152138.44,87463.00,79034.05
2018-12-19,130.23,185.55,84.03,96.47,284106.52,188703.98,98651.22,79877.51
2019-12-19,186.27,296.67,108.88,123.71,406348.48,301718.28,127825.12,102433.22
2020-04-08,174.94,270.95,105.06,92.08,381631.62,275556.16,123340.44,76242.24

In [12]:
ratio_data.to_excel('Mkt. Cap Over Time.xls')

In [13]:
mc_mkt = go.Scatter(
	x=ratio_data.index,
	y=ratio_data['Mastercard Market Cap.'],
	name='Mastercard PE/Ratio'
)

vs_mkt = go.Scatter(
	x=ratio_data.index,
	y=ratio_data['Visa Market Cap.'],
	name='VISA PE/Ratio'
)
pypl_mkt = go.Scatter(
	x=ratio_data.index,
	y=ratio_data['PayPal Market Cap.'],
	name='PayPal PE/Ratio'
)
ax_mkt = go.Scatter(
	x=ratio_data.index,
	y=ratio_data['American Express Market Cap.'],
	name='American Express PE/Ratio'
)

data = [mc_mkt, vs_mkt, pypl_mkt, ax_mkt]
layout = go.Layout(
    title="<i>VISA, Mastercard, PayPal, American Express, Discover Market Capitalization </i> <br><b>Over Time (2014-2019)</b> ",
    yaxis=dict(
        title='P/E'
    ),
)

fig_bs = go.Figure(data=data, layout=layout)
py.iplot(fig_bs)

/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/display.py:694: UserWarning:

Consider using IPython.display.IFrame instead

In [14]:
mc_mkt = go.Bar(
	x=[mydata_index[-1]],
	y=[ratio_data['Mastercard Market Cap.'].iloc[-1]],
	name='Mastercard Market Cap.'
)

vs_mkt = go.Bar(
	x=[mydata_index[-1]],
	y=[ratio_data['Visa Market Cap.'].iloc[-1]],
	name='VISA Market Cap.'
)
pypl_mkt = go.Bar(
	x=[mydata_index[-1]],
	y=[ratio_data['PayPal Market Cap.'].iloc[-1]],
	name='PayPal Market Cap.'
)
ax_mkt = go.Bar(
	x=[mydata_index[-1]],
	y=[ratio_data['American Express Market Cap.'].iloc[-1]],
	name='American Express Market Cap.'
)

data = [mc_mkt, vs_mkt, pypl_mkt, ax_mkt]
layout = go.Layout(
    title="<i>VISA, Mastercard, PayPal, American Express, Discover Market Capitalization</i> <br><b>Current</b> ",
    yaxis=dict(
        title='P/E'
    ),
)

fig_bs = go.Figure(data=data, layout=layout)
py.iplot(fig_bs)

In [15]:
ax = pd.read_excel("/Users/carlomasera/Documents/PERSONAL FINANCE/Valuations/Credit Card/American Express/AX.xlsx")
index_PL = int(ax.loc[ax['Data provided by SimFin']=='Profit & Loss statement'].index[0])
index_CF = int(ax.loc[ax['Data provided by SimFin']=='Cash Flow statement'].index[0])
index_BS = int(ax.loc[ax['Data provided by SimFin']=='Balance Sheet'].index[0])
ax_PL = ax.iloc[index_PL + 1 :index_BS -1, 1:]
ax_PL.columns = ax_PL.iloc[0]
ax_PL.set_index("in million USD", inplace=True)
ax_PL.fillna(0, inplace=True)
ax_PL = ax_PL[1:]
ax_BS = ax.iloc[index_BS + 1:index_CF -1, 1:]
ax_BS.columns = ax_BS.iloc[0]
ax_BS.set_index("in million USD", inplace=True)
ax_BS.fillna(0, inplace=True)
ax_BS = ax_BS[1:]
ax_CF = ax.iloc[index_CF+1: ,1:]
ax_CF.columns = ax_CF.iloc[0]
ax_CF.set_index("in million USD", inplace =True)
ax_CF.fillna(0, inplace=True)
ax_CF = ax_CF[1:]
ax_PL = ax_PL.T
ax_BS = ax_BS.T
ax_CF = ax_CF.T
pypl = pd.read_excel("/Users/carlomasera/Documents/PERSONAL FINANCE/Valuations/Credit Card/PayPal/PYPL.xlsx")
index_PL = int(pypl.loc[pypl['Data provided by SimFin']=='Profit & Loss statement'].index[0])
index_CF = int(pypl.loc[pypl['Data provided by SimFin']=='Cash Flow statement'].index[0])
index_BS = int(pypl.loc[pypl['Data provided by SimFin']=='Balance Sheet'].index[0])
pypl_PL = pypl.iloc[index_PL + 1 :index_BS -1, 1:]
pypl_PL.columns = pypl_PL.iloc[0]
pypl_PL.set_index('in million USD', inplace=True)
pypl_PL.fillna(0, inplace=True)
pypl_PL = pypl_PL[1:]
pypl_BS = pypl.iloc[index_BS + 1 :index_CF -1, 1:]
pypl_BS.columns = pypl_BS.iloc[0]
pypl_BS.set_index('in million USD', inplace=True)
pypl_BS.fillna(0, inplace=True)
pypl_BS = pypl_BS[1:]
pypl_CF = pypl.iloc[index_CF+1: ,1:]
pypl_CF.columns = pypl_CF.iloc[0]
pypl_CF.set_index('in million USD', inplace=True)
pypl_CF.fillna(0, inplace=True)
pypl_CF = pypl_CF[1:]
pypl_PL = pypl_PL.T
pypl_BS = pypl_BS.T
pypl_CF = pypl_CF.T
vs = pd.read_excel("/Users/carlomasera/Documents/PERSONAL FINANCE/Valuations/Credit Card/VISA/VZ.xlsx")
index_PL = int(vs.loc[vs['Data provided by SimFin']=='Profit & Loss statement'].index[0])
index_CF = int(vs.loc[vs['Data provided by SimFin']=='Cash Flow statement'].index[0])
index_BS = int(vs.loc[vs['Data provided by SimFin']=='Balance Sheet'].index[0])
vs_PL = vs.iloc[index_PL + 1 :index_BS -1, 1:]
vs_PL.columns = vs_PL.iloc[0]
vs_PL.set_index("in million USD", inplace=True)
vs_PL.fillna(0, inplace=True)
vs_PL = vs_PL[1:]
vs_BS = vs.iloc[index_BS + 1:index_CF -1, 1:]
vs_BS.columns = vs_BS.iloc[0]
vs_BS.set_index("in million USD", inplace=True)
vs_BS.fillna(0, inplace=True)
vs_BS = vs_BS[1:]
vs_CF = vs.iloc[index_CF+1: ,1:]
vs_CF.columns = vs_CF.iloc[0]
vs_CF.set_index("in million USD", inplace =True)
vs_CF.fillna(0, inplace=True)
vs_CF = vs_CF[1:]
vs_PL = vs_PL.T
vs_BS = vs_BS.T
vs_CF = vs_CF.T
mc = pd.read_excel("/Users/carlomasera/Documents/PERSONAL FINANCE/Valuations/Credit Card/MasterCard/MC.xlsx")
index_PL = int(mc.loc[mc['Data provided by SimFin']=='Profit & Loss statement'].index[0])
index_CF = int(mc.loc[mc['Data provided by SimFin']=='Cash Flow statement'].index[0])
index_BS = int(mc.loc[mc['Data provided by SimFin']=='Balance Sheet'].index[0])
mc_PL = mc.iloc[index_PL+1:index_BS -1, 1:]
mc_PL.columns = mc_PL.iloc[0]
mc_PL.set_index("in million USD", inplace = True)
mc_PL.fillna(0, inplace=True)
mc_PL = mc_PL[1:]
mc_BS = mc.iloc[index_BS + 1:index_CF -1, 1:]
mc_BS.columns = mc_BS.iloc[0]
mc_BS.set_index("in million USD", inplace = True)
mc_BS.fillna(0, inplace=True)
mc_BS = mc_BS[1:]
mc_CF = mc.iloc[index_CF + 1:, 1:]
mc_CF.columns = mc_CF.iloc[0]
mc_CF.set_index("in million USD", inplace=True)
mc_CF.fillna(0, inplace=True)
mc_CF = mc_CF[1:]
mc_CF = mc_CF.T
mc_BS = mc_BS.T
mc_PL = mc_PL.T

In [16]:
# Calculating Entreprise Value

In [17]:
#VISA
vs_ev = ratio_data['Visa Market Cap.'][:'2019-12-19'].values + vs_BS['Long Term Debt'].iloc[4:].values + vs_BS['Short Term Debt'].iloc[4:].values  + vs_BS['Share Capital & Additional Paid-In Capital'].iloc[4:].values + vs_BS['Minority Interest'].iloc[4:].values - vs_BS['Cash, Cash Equivalents & Short Term Investments'].iloc[4:]
vs_ev["FY '20"] = ratio_data['Visa Market Cap.'][str(recent_date)] + vs_BS['Long Term Debt'].iloc[-1] + vs_BS['Short Term Debt'].iloc[-1] + vs_BS['Share Capital & Additional Paid-In Capital'].iloc[-1] +vs_BS['Minority Interest'].iloc[-1] - vs_BS['Cash, Cash Equivalents & Short Term Investments'].iloc[-1]

In [18]:
#Mastercard
mc_ev = ratio_data['Mastercard Market Cap.'][:'2019-12-19'].values + mc_BS['Long Term Debt'].iloc[4:].values + mc_BS['Short Term Debt'].iloc[4:].values + mc_BS['Share Capital & Additional Paid-In Capital'].iloc[4:].values + mc_BS['Minority Interest'].iloc[4:].values - mc_BS['Cash, Cash Equivalents & Short Term Investments'].iloc[4:]
mc_ev["FY '20"] = ratio_data['Mastercard Market Cap.'][str(recent_date)] + mc_BS['Long Term Debt'].iloc[-1] + mc_BS['Short Term Debt'].iloc[-1] + mc_BS['Share Capital & Additional Paid-In Capital'].iloc[-1] +mc_BS['Minority Interest'].iloc[-1] - mc_BS['Cash, Cash Equivalents & Short Term Investments'].iloc[-1]

In [19]:
#PayPal
pypl_ev = ratio_data['PayPal Market Cap.'][:'2019-12-19'].values + pypl_BS['Long Term Debt'].values + pypl_BS['Share Capital & Additional Paid-In Capital'].values + pypl_BS['Minority Interest'].values - pypl_BS['Cash, Cash Equivalents & Short Term Investments']
pypl_ev["FY '20'"] = ratio_data['PayPal Market Cap.'][str(recent_date)] + pypl_BS['Long Term Debt'].iloc[-1] +  pypl_BS['Share Capital & Additional Paid-In Capital'].iloc[-1] +pypl_BS['Minority Interest'].iloc[-1] - pypl_BS['Cash, Cash Equivalents & Short Term Investments'].iloc[-1]

In [20]:
#American Express
ax_ev = ratio_data['American Express Market Cap.'][:'2019-12-19'].values + ax_BS['Long Term Debt'].iloc[4:].values + ax_BS['Short Term Borrowings & Repos'].iloc[4:].values + ax_BS['Share Capital & Additional Paid-In Capital'].iloc[4:].values - ax_BS['Cash & Cash Equivalents'].iloc[4:]
ax_ev["FY '20"] = ratio_data['American Express Market Cap.'][str(recent_date)] + ax_BS['Long Term Debt'].iloc[-1] + ax_BS['Short Term Borrowings & Repos'].iloc[-1] + ax_BS['Share Capital & Additional Paid-In Capital'].iloc[-1]  - ax_BS['Cash & Cash Equivalents'].iloc[-1]

In [21]:
# Data-DataFrame Construction
dates = ['2014-12-19', '2015-12-21', '2016-12-19', '2017-12-19', '2018-12-19', '2019-12-19', str(recent_date)]
ev_data = pd.DataFrame(dates)
ev_data.set_index(0, inplace=True)
ev_data.index.names = ['Date']
# EV
ev_data['Visa Enterprise Value'] = vs_ev.values
ev_data['Mastercard Enterprise Value'] = mc_ev.values
ev_data['PayPal Enterprise Value'] = pypl_ev.values
ev_data['American Express Enterprise Value'] = ax_ev.values

In [22]:
ev_data

,Visa Enterprise Value,Mastercard Enterprise Value,PayPal Enterprise Value,American Express Enterprise Value
Date,,,,
2014-12-19,151034,83922.2,-1056,142397
2015-12-21,175305,96556.3,52046.9,116116
2016-12-19,191121,104302,54906.6,120690
2017-12-19,262975,154481,96082,145350
2018-12-19,305797,191626,104481,150536
2019-12-19,427373,307921,137661,175245
2020-04-07,388804,269220,127565,145328

In [23]:
ev_data.to_excel('EV Over Time.xls')

In [24]:
# Calculating EBITDA

In [25]:
# VISA
vs_eb = vs_PL['Operating Income (Loss)'].iloc[4:] + vs_CF['Depreciation & Amortization'].iloc[4:]
vs_eb["FY '20"] = vs_PL['Operating Income (Loss)'].iloc[-1] + vs_CF['Depreciation & Amortization'].iloc[-1]

In [26]:
# Mastercard
mc_eb = mc_PL['Operating Income (Loss)'].iloc[4:] + mc_CF['Depreciation & Amortization'].iloc[4:]
mc_eb["FY '20"] = mc_PL['Operating Income (Loss)'].iloc[-1] + mc_CF['Depreciation & Amortization'].iloc[-1]

In [27]:
# PayPal
pypl_eb = pypl_PL['Operating Income (Loss)'] + pypl_CF['Depreciation & Amortization']
pypl_eb["FY '20"] = pypl_PL['Operating Income (Loss)'].iloc[-1] + pypl_CF['Depreciation & Amortization'].iloc[-1]

In [28]:
# American Express
ax_eb = ax_PL['Net Revenue after Provisions'].iloc[4:] + ax_CF['Depreciation & Amortization'].iloc[4:]
ax_eb["FY '20"] = ax_PL['Net Revenue after Provisions'].iloc[-1] + ax_CF['Depreciation & Amortization'].iloc[-1]

In [29]:
ax_eb

2
FY '14    33156
FY '15    31873
FY '16    31188
FY '17    35439
FY '18    38279
FY '19    40852
FY '20    40852
dtype: object

In [30]:
# Data-DataFrame Construction
dates = ['2014-12-19', '2015-12-21', '2016-12-19', '2017-12-19', '2018-12-19', '2019-12-19', str(recent_date)]
eb_data = pd.DataFrame(dates)
eb_data.set_index(0, inplace=True)
eb_data.index.names = ['Date']
# EV
eb_data['Visa EBITDA'] = vs_eb.values
eb_data['Mastercard EBITDA'] = mc_eb.values
eb_data['PayPal EBITDA'] = pypl_eb.values
eb_data['American EBITDA'] = ax_eb.values

In [31]:
eb_data

           Visa EBITDA Mastercard EBITDA PayPal EBITDA American EBITDA
Date
2014-12-19        8585              5427          1784           33156
2015-12-21        9572              5505          2117           31873
2016-12-19       10264              6251          2310           31188
2017-12-19       12719              7074          3064           35439
2018-12-19       14174              8869          3279           38279
2019-12-19       16057             10186          3702           40852
2020-04-07       16057             10186          3702           40852

In [32]:
eb_data.to_excel('EBITDA Over Time.xls')

In [33]:
eb_ev = pd.DataFrame(ev_data / eb_data.values)
eb_ev.rename(columns={"Visa Enterprise Value": "Visa EV/EBITDA", "Mastercard Enterprise Value": "Mastercard EV/EBITDA", "PayPal Enterprise Value": "PayPal EV/EBITDA", "American Express Enterprise Value": "American Express EV/EBITDA"}, inplace=True)
eb_ev = round(eb_ev, 2)

In [34]:
eb_ev

,Visa EV/EBITDA,Mastercard EV/EBITDA,PayPal EV/EBITDA,American Express EV/EBITDA
Date,,,,
2014-12-19,17.5927,15.4638,-0.591928,4.29476
2015-12-21,18.3143,17.5397,24.5852,3.64309
2016-12-19,18.6205,16.6856,23.7691,3.86977
2017-12-19,20.6757,21.8378,31.3584,4.10142
2018-12-19,21.5745,21.6062,31.8637,3.93259
2019-12-19,26.616,30.2298,37.1856,4.28976
2020-04-07,24.214,26.4304,34.4583,3.55743

In [35]:
eb_ev.to_excel('EBITDA-EV Over Time.xls')

In [37]:
mc_mktc = go.Scatter(
	x=ratio_data.index,
	y=ratio_data['Mastercard Market Cap.'],
	name='Mastercard Market Cap.'
)

vs_mktc = go.Scatter(
	x=ratio_data.index,
	y=ratio_data['Visa Market Cap.'],
	name='VISA Market Cap.'
)
pypl_mktc = go.Scatter(
	x=ratio_data.index,
	y=ratio_data['PayPal Market Cap.'],
	name='PayPal Market Cap.'
)
ax_mktc = go.Scatter(
	x=ratio_data.index,
	y=ratio_data['American Express Market Cap.'],
	name='American Express Market Cap.'
)

data = [mc_mktc, vs_mktc, pypl_mktc, ax_mktc]
layout = go.Layout(
    title="<i>VISA, Mastercard, PayPal, American Express Market Capitalization</i> <br><b>Over Time (2010-2019)</b> ",
    yaxis=dict(
        title='in billion USD'
    ),
)

fig_bs = go.Figure(data=data, layout=layout)
py.iplot(fig_bs)

In [53]:
mc_etv = go.Scatter(
	x=ev_data.index,
	y=ev_data['Mastercard Enterprise Value'],
	name='Mastercard Enterprise Value'
)

vs_etv = go.Scatter(
	x=ev_data.index,
	y=ev_data['Visa Enterprise Value'],
	name='VISA Enterprise Value'
)
pypl_etv = go.Scatter(
	x=ev_data.index,
	y=ev_data['PayPal Enterprise Value'],
	name='PayPal Enterprise Value'
)
ax_etv = go.Scatter(
	x=ev_data.index,
	y=ev_data['American Express Enterprise Value'],
	name='American Express Enterprise Value'
)

data = [mc_etv, vs_etv, pypl_etv, ax_etv]
layout = go.Layout(
    title="<i>VISA, Mastercard, PayPal, American Express Enterprise Value</i> <br><b>Over Time (2014-2019)</b> ",
    yaxis=dict(
        title='in billion USD'
    ),
)

fig_bs = go.Figure(data=data, layout=layout)
py.iplot(fig_bs)

In [54]:
mc_ebd = go.Scatter(
	x=eb_ev.index,
	y=eb_ev['Mastercard EV/EBITDA'],
	name='Mastercard EV/EBITDA'
)

vs_ebd = go.Scatter(
	x=eb_ev.index,
	y=eb_ev['Visa EV/EBITDA'],
	name='VISA EV/EBITDA'
)
pypl_ebd = go.Scatter(
	x=eb_ev.index,
	y=eb_ev['PayPal EV/EBITDA'],
	name='PayPal EV/EBITDA'
)
ax_ebd = go.Scatter(
	x=eb_ev.index,
	y=eb_ev['American Express EV/EBITDA'],
	name='American Express EV/EBITDA'
)

data = [mc_ebd, vs_ebd, pypl_ebd, ax_ebd]
layout = go.Layout(
    title="<i>VISA, Mastercard, PayPal, American Express EV/EBITDA</i> <br><b>Over Time (2014-2019)</b> ",
    yaxis=dict(
        title='EV/EBITDA Ratio'
    ),
)

fig_bs = go.Figure(data=data, layout=layout)
py.iplot(fig_bs)

In [51]:
df['PayPal Stock Price']['2014-12-22']

1.0